%table
  %thead
    %tr
      %th{ :width => '60'} Date
      %th{ :width => '100'} Duration
      %th Task
      %th List
      %th Project
      %th{ :width => '120'} User
      %th{ :width => '60'} Actions
  - for worklog in worklogs do
    %tr
      %td= l worklog.log_date, :format => :short
      %td= worklog.duration_human
      %td= link_to(worklog.todo_item, worklog.todo_item)
      %td= link_to(worklog.todo_item.todo_list, worklog.todo_item.todo_list) if worklog.todo_item
      %td= link_to(worklog.todo_item.todo_list.project, worklog.todo_item.todo_list.project) if (worklog.todo_item && worklog.todo_item.todo_list.project)
      %td= worklog.user
      %td= link_to '[X]', worklog, :method => :delete, :confirm => "#{t('confirm')}"
