= form_for [todo_list, todo_item] do |f|
  = render :partial => "shared/error_messages", :locals => { :object => todo_item }
  .field
    = f.label :title
  .field
    = f.text_field :title
  .field
    = f.label :description
  .field
    = f.text_area :description
  .actions
    = f.submit
