%li
  %article{ :class => "todo-list #{'complete' if todo_list.is_complete?}" }
    %h3.title
      = link_to [todo_list.project, todo_list] do
        - if todo_list.is_complete?
          %span.icon.icon-document-task
        - else
          %span.icon.icon-document-list
        =todo_list.title
      - unless todo_list.todo_items.empty?
        = "(#{todo_list.todo_items.complete.count}/#{todo_list.todo_items.count})"
    .actions
      = link_to '[=]', edit_todo_list_path(todo_list), :class => 'link-icon icon-edit'
      = link_to '[X]', todo_list_path(todo_list), :confirm => 'Are you sure?', :method => :delete, :class => 'link-icon icon-delete'
    - if todo_list.user && !todo_list.is_unattached?
      .user
        = link_to todo_list.user do
          %span.icon.icon-user
          = todo_list.user
