%li
  %article{ :class => "todo-list #{'complete' if todo_list.is_complete?}" }
    %h5
      = link_to [todo_list.project, todo_list] do
        - if todo_list.is_complete?
          %span.icon.icon-document-task
        - else
          %span.icon.icon-document-list
        =todo_list.title
      - unless todo_list.todo_items.empty?
        = "(#{todo_list.todo_items.complete.count}/#{todo_list.todo_items.count})"
    .actions
      = link_to new_todo_list_todo_item_path(todo_list), :title => 'Add task to list' do
        %span.icon.icon-document-plus
      = link_to edit_todo_list_path(todo_list), :class => 'link-icon' do
        %span.icon.icon-pencil-small
      = link_to todo_list_path(todo_list), :confirm => 'Are you sure?', :method => :delete, :class => 'link-icon' do
        %span.icon.icon-cross-small
  .todo-items
    = render todo_list.todo_items.incomplete
