.actions
  = link_to 'Edit', edit_todo_list_path(todo_list)
  \|
  = link_to 'Destroy', todo_list_path(todo_list), :method => :delete, :confirm => 'Are you sure?'
%hr/
%h2
  = todo_list.title

.description
  = todo_list.description

.todo-items.sortable
  = render todo_list.todo_items
  = link_to 'New Todo Item', new_todo_list_todo_item_path(todo_list)

= link_to 'All lists', todo_lists_path

