.actions

%hr/
%h2
  = todo_list.title
  - if todo_list.user === current_user
    = link_to edit_todo_list_path(todo_list) do
      %span.icon.icon-pencil
    = link_to todo_list_path(todo_list), :method => :delete, :confirm => 'Are you sure?' do
      %span.icon.icon-slash

.description
  = todo_list.description

.todo-items.sortable
  = render todo_list.todo_items
  = link_to 'New Todo Item', new_todo_list_todo_item_path(todo_list)

- if todo_list.project
  = link_to todo_list.project do
    &larr;
    = todo_list.project
- else
  = link_to 'All lists', todo_lists_path

