- if current_user
  Welcome,
  = link_to me_path do
    %span.icon.icon-user
    = current_user
  \|

  = link_to logout_path do
    %span.icon.icon-door-out
    Logout
- else
  =link_to new_session_path do
    %span.icon.icon-door-in
    Login
  %ul.auth-links
    %li
      = link_to "Facebook", "/auth/facebook"
    %li
      = link_to "Вконтакте", "/auth/vkontakte"
    %li
      = link_to "Google", "/auth/google"

