.fourcol
  -#= render :partial => 'todo_lists/form', :locals => { :todo_list => TodoList.new }
  %h2
    Your projects

  %ul{ :id => 'projects' }
    = render projects
  = link_to new_project_path, :class => 'link-button' do
    %span.icon.icon-plus-circle
    Add new project
.fourcol
  %h2 Your personal todo lists
  -#= render :partial => 'todo_lists/form', :locals => { :todo_list => TodoList.new }
  %ul{ :id => 'todo-lists' }
    = render todo_lists
  = link_to new_todo_list_path, :class => 'link-button' do
    %span.icon.icon-plus-circle
    Add new todo list
.fourcol.last
  %h2 Your events
  -if current_user.invitations.any?
    %h3 You've been invited to these projects:
    %ul#invitations
    - for invitation in current_user.invitations do
      %li
        = invitation.project
        by
        = invitation.inviter
        %br/
        = link_to 'Accept', accept_collaborator_path( invitation)
