= form_for project do |f|
  = render :partial => "shared/error_messages", :locals => { :object => project }
  .field
    = f.text_field :name, :placeholder => t(:'helpers.placeholder.project.name')
  .field
    = f.text_area :description, :placeholder => :description
  .actions
    = f.submit
