%h2
  = project
  - if project.users.include? current_user
    = link_to edit_project_path(project) do
      %span.icon.icon-pencil
%hr/
.fourcol
  %blockquote.description= project.description
  %h3 Members
  %ul#users
    = render project.users
  = link_to new_project_collaborator_path(project), :class => 'link-button' do
    %span.icon.icon-plus-circle
    Invite user
.eightcol.last
  %h3 Todo Lists
  - if project.todo_lists.any?
    %ul#todo-lists
      = render project.todo_lists
  - else
    .notice
      =t :'todo_lists.messages.no_todo_lists_added'
  = link_to new_project_todo_list_path(project), :class => 'link-button' do
    %span.icon.icon-plus-circle
    Add todo list
