.row
  .large-4.columns
    = render :partial => '/shared/inner_nav'
  .large-8.columns
    = render :partial => 'shared/breadcrumbs', :locals => { :breadcrumb_items => [project] }
    .section-inner
      .row
        .large-12.columns
          %h2.item-title
            = link_to root_url do
              &larr;
            = project
            %small
              = link_to project_worklogs_path(project) do
                %i.foundicon-clock
              - if project.collaborators.where(:user_id => current_user).first.is_owner?
                = link_to edit_project_path(project) do
                  %i.foundicon-edit
                = link_to project_path(project), :method => :delete, :confirm => 'Are you sure?' do
                  %i.foundicon-trash
          %hr/
          .row
            .large-8.columns
              - if project.todo_lists.any?
                %ul#todo-lists
                  = render project.todo_lists
              - else
                .alert-box.secondary
                  =t :'todo_lists.messages.no_todo_lists_added'
              = link_to new_project_todo_list_path(project), :class => 'button tiny' do
                %i.foundicon-plus
                Add todo list
              - if project.description
                .description= markdown project.description
            .large-4.columns
              %h4 Associates
              %ul#users
                = render project.users
              = link_to new_project_invitation_path(project), :class => 'button tiny' do
                %i.foundicon-plus
                Invite user
              - unless project.collaborator(current_user).is_owner?
                = link_to [project, project.collaborator(current_user) ], :method => :delete, :confirm => 'Are you sure?' do
                  Abandon project
