= render :partial => 'shared/breadcrumbs', :locals => { :breadcrumb_items => [project] }
.row
  %aside.span3
    %ul.nav.nav-list
      = render projects
  %section#project.span9
    .section-inner
      .row
        .twelve.columns
          %h2.item-title
            = link_to root_url do
              &larr;
            = project
            = link_to project_worklogs_path(project) do
              %span.icon.icon-clock
            - if project.collaborators.where(:user_id => current_user).first.is_owner?
              = link_to edit_project_path(project) do
                %span.icon.icon-pencil
              = link_to project_path(project), :method => :delete, :confirm => 'Are you sure?' do
                %span.icon.icon-cross-circle
          %hr/
        .twelve.columns
          %dl.tabs
            %dd.active
              = link_to 'Tasks', '#tasks'
            %dd= link_to 'About', '#about'
          %ul.tabs-content
            %li.active#tasksTab
              %h4 Todo Lists
              - if project.todo_lists.any?
                %ul#todo-lists
                  = render project.todo_lists
              - else
                .notice
                  =t :'todo_lists.messages.no_todo_lists_added'
              = link_to new_project_todo_list_path(project), :class => 'link-button' do
                %span.icon.icon-plus
                Add todo list
            %li#aboutTab
              - if project.description
                .description= markdown project.description
              %h4 Associates
              %ul#users
                = render project.users
              = link_to new_project_invitation_path(project), :class => 'link-button' do
                %span.icon.icon-plus
                Invite user
              - unless project.collaborator(current_user).is_owner?
                = link_to [project, project.collaborator(current_user) ], :method => :delete, :confirm => 'Are you sure?' do
                  Abandon project
